{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Restaurant Menu</h1>
    <ul class="list-group list-group-flush">
        {% for meal in meals %}
            <h2 class="pt-5">{{ meal.1 }}</h2>
                {% for item in item_list %}
                    {% if item.meal_type == meal.0 %}
                        {% if item.status == 0 %}
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                            <a href="{% url 'menu_item' item.pk %}"><h3><del>{{ item.meal }}</del></h3></a>
                            <span class="badge bg-primary rounded-pill">{{ item.price }}</span>
                        </li>
                        <li class="list-group-item pt-0">
                            <p>{{ item.description }}</p>
                        </li>
                        {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                            <a href="{% url 'menu_item' item.pk %}"><h3>{{ item.meal }}</h3></a>
                            <span class="badge bg-primary rounded-pill">{{ item.price }}</span>
                        </li>
                        <li class="list-group-item pt-0">
                            <p>{{ item.description }}</p>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}